* {
    line-height: 1.5;
    box-sizing: border-box;
    /* border: 1px black solid; */
}

body,
.recipes a {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #ccf0cc;
    color: #333333;
}

.text-center {
    text-align: center;
}

.container-center {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.text-align-center-left {
    display: inline-block;
    text-align: left;
}

.directions {
    display: flex;
    margin: 2em 5em 2em;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.ingredients {
    margin-top: 5em;
}

.resize-photo {
    height: auto;
    width: 400px;
}

.food-description-heading {
    text-decoration: underline;
}

.recipes {
    list-style: decimal-leading-zero;
}

.photo-shadow {
    box-shadow: 0 10px 17px #333333cc
}
